# Name of database (JSON file) to create and use as phonebook.
# Don't specify the path, just specify the name, the path will be formed automatically.
DB_NAME=phonebook.json

# Host and port for aiohttp REST API server.
HOST=127.0.0.1
PORT=8001